<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-md-8 align-self-center">
                        <a href="javascript:void(0);" [routerLink]="['../event/add']" class="btn btn-primary mr-3"><i
                                class="fa fa-plus"></i> Create Evnet</a>
                    </div>


                    <div class="col-md-1 align-self-center">
                        <div class="card-tools">
                            <div class="dataTables_length" id="example1_length">
                                <label>Show:</label>
                                <select name="example1_length" aria-controls="example1"
                                    [(ngModel)]="fetchEventListParam.pageSize"
                                    class="custom-select custom-select-sm form-control form-control-sm"
                                    (change)="getEventData()">
                                    <option *ngFor="let p of pageLimitOptions" [value]=p>{{p}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover usr-table">
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <th width="15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="eventList?.length>0">
                            <tr *ngFor="let event of eventList | paginate: { id: 'event_pages',
                                                     itemsPerPage: fetchEventListParam.pageSize,
                                                     currentPage: fetchEventListParam.currentPage,
                                                     totalItems: totalCount }">
                                <td>{{event.name}}</td>
                                <td>
                                    <span class="mr-2">
                                        <i class="fas fa-edit action-icon"></i>
                                    </span>
                                    <span class="mr-2">
                                        <a href="../event/" onclick="deleteIdEvent(event.id)">
                                            <!-- <a onclick="show()"> -->
                                        <i class="fa fa-trash action-icon"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="eventList?.length<=0">
                            <tr>
                                <td [attr.colspan]="6" class="text-center">No Results Found</td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>

            <div class="row" *ngIf="eventList?.length>0">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <pagination-controls id="event_pages" (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
                        responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
                </div>
            </div>

        </div>
    </div>

</div>