<div class="card card-primary">
    <form [formGroup]="donerForm" #add="ngForm" (ngSubmit)="submit()">
        <div class="card-body">
            <div class="row">

                <div class="form-group col-md-6">
                    <label>Donor Name:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="donerName" placeholder="First Name" minlength="3"
                            maxlength="50" formControlName="donerName" [ngClass]=" {'is-invalid' : donerForm.controls.donerName.touched && donerForm.controls.donerName.invalid,
						'is-valid' : donerForm.controls.donerName.touched && donerForm.controls.donerName.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="donerForm.controls.donerName.touched && donerForm.controls.donerName.invalid || donerForm.controls.donerName.dirty">
                        <ng-container *ngIf="donerForm.controls.donerName.errors?.minlength">Min
                            length is 2</ng-container>
                        <ng-container *ngIf="donerForm.controls.donerName.errors?.maxlength">Max
                            length is 50</ng-container>
                        <ng-container *ngIf="donerForm.controls.donerName.errors?.whitespace">Please
                            enter valid name.</ng-container>
                        <ng-container *ngIf="donerForm.controls.donerName.errors?.required">
                            Name is required</ng-container>
                    </span>
                </div>

                <div class="form-group col-md-6">
                    <label>Email Address:</label>
                    <div class="input-group">
                        <input type="email" class="form-control" name="donerEmail" placeholder="abc@gmail.com"
                            minlength="3" maxlength="50" formControlName="donerEmail" [ngClass]=" {'is-invalid' : donerForm.controls.donerEmail.touched && donerForm.controls.donerEmail.invalid,
						'is-valid' : donerForm.controls.donerEmail.touched && donerForm.controls.donerEmail.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="donerForm.controls.donerEmail.touched && donerForm.controls.donerEmail.invalid ||  donerForm.controls.donerEmail.dirty">

                        <ng-container *ngIf="donerForm.controls.donerEmail.errors?.pattern">Please
                            Enter valid Email <Address></Address>.</ng-container>
                        <ng-container *ngIf="donerForm.controls.donerEmail.errors?.required">
                            Email is Required</ng-container>
                    </span>
                </div>

                <div class="form-group col-md-6">
                    <label>Contact Number:</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" name="contactNumber" placeholder="Contact Number"
                            minlength="10" maxlength="10" formControlName="contactNumber" [ngClass]=" {'is-invalid' : donerForm.controls.contactNumber.touched && donerForm.controls.contactNumber.invalid,
						'is-valid' : donerForm.controls.contactNumber.touched && donerForm.controls.contactNumber.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="donerForm.controls.contactNumber.touched && donerForm.controls.contactNumber.invalid|| donerForm.controls.contactNumber.dirty">
                        <ng-container *ngIf="donerForm.controls.contactNumber.errors?.pattern">Please
                            Enter valid Contact Number.</ng-container>
                        <ng-container *ngIf="donerForm.controls.contactNumber.errors?.required">
                            Contact Number is Required</ng-container>
                    </span>
                </div>


                <div class="form-group col-md-6">
                    <label>Type of Donation: </label>

                    <div class="input-group">
                        <select class="form-control" name="typeofDonation" formControlName="typeofDonation" [ngClass]=" {'is-invalid' : donerForm.controls.typeofDonation.touched && donerForm.controls.typeofDonation.invalid,
						'is-valid' : donerForm.controls.typeofDonation.touched && donerForm.controls.typeofDonation.valid}">Donation
                            <option value="food">Food</option>
                            <option value="money">Money</option>
                            <option value="things">Things</option>
                            <option value="cloths">Cloths</option>
                            <option value="other">Others </option>
                        </select>
                    </div>
                    <span class="help-block"
                        *ngIf="donerForm.controls.typeofDonation.touched && donerForm.controls.typeofDonation.invalid || donerForm.controls.typeofDonation.dirty">


                        <ng-container *ngIf="donerForm.controls.typeofDonation.errors?.required">
                            Required</ng-container>
                    </span>
                </div>


                <div class="form-group col-md-6">
                    <label>Date of Donation: </label>

                    <input type="date" name="dateOfDonation" formControlName="dateOfDonation" class="form-control" 
                        [ngClass]=" {'is-invalid' : donerForm.controls.dateOfDonation.touched && donerForm.controls.dateOfDonation.invalid,
                    'is-valid' : donerForm.controls.dateOfDonation.touched && donerForm.controls.dateOfDonation.valid}">

                    <span class="help-block"
                        *ngIf="donerForm.controls.dateOfDonation.touched && donerForm.controls.dateOfDonation.invalid">

                        <ng-container *ngIf="donerForm.controls.dateOfDonation.errors?.required">
                            Date is Required</ng-container>
                    </span>
                </div>


                <div class="form-group col-md-6">
                    <label>Description:</label>
                    <div class="input-group">
                        <textarea class="form-control" name="reason" row="4" cols="5"
                            formControlName="reason"> </textarea>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="nav-icon fas fa-edit"></span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12 text-center">

                    <button type="submit" class="btn btn-primary mr-2">
                        <span *ngIf="isAddForm">Add doner</span>
                        <span *ngIf="!isAddForm">Edit doner</span>

                    </button>
                    <a [routerLinkActive]="['active']" routerLink="/doner" class="btn btn-default ">
                        Cancel</a>
                </div>
            </div>

        </div>
    </form>
</div>