<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-md-6 align-self-center">
                        <a href="javascript:void(0);" [routerLink]="['../volunteer/add']"
                            class="btn btn-dark mr-3"><b><i class="fa fa-user-plus"></i> Add Volunteer</b></a>
                    </div>

                    <div class="col-md-3 align-self-center">
                        <div class="input-group input-group-lg">
                            <input type="text" placeholder="Search here..."
                                [(ngModel)]="fetchVolunteerListParam.searchStr" (keyup)="getVolunteerData()"
                                class="form-control">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-1 align-self-center">
                        <div class="card-tools">
                            <div class="dataTables_length" id="example1_length">
                                <label>Show:</label>
                                <select name="example1_length" aria-controls="example1"
                                    [(ngModel)]="fetchVolunteerListParam.pageSize"
                                    class="custom-select custom-select-sm form-control form-control-sm"
                                    (change)="getVolunteerData()">
                                    <option *ngFor="let p of pageLimitOptions" [value]=p>{{p}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover usr-table">
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Interest</th>
                            <th>Joining Date</th>
                            <th>Contact Number</th>
                            <th>Address</th>
                            <th>Available Time</th>
                            <th width="15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="volunteerList?.length>0">
                            <tr *ngFor="let volunteer of volunteerList | paginate: { id: 'volunteer_pages',
                                                     itemsPerPage: fetchVolunteerListParam.pageSize,
                                                     currentPage: fetchVolunteerListParam.currentPage,
                                                     totalItems: totalCount }">
                                <td>{{volunteer.name}}</td>
                                <td>{{volunteer.email}}</td>
                                <td>{{volunteer.gender}}</td>
                                <td>{{volunteer.age}}</td>
                                <td>{{volunteer.areaOfInterest}}</td>
                                <td>{{volunteer.dateOfJoining}}</td>
                                <td>{{volunteer.contactNumber}}</td>
                                <td>{{volunteer.address}}</td>
                                <td>{{volunteer.availableTime}}</td>
                                <td>
                                    <span class="mr-2">
                                        <a (click)="editVolunteer(volunteer.id)">
                                            <i class="fas fa-edit action-icon"></i>
                                        </a>
                                    </span>
                                    <span class="mr-2">
                                        <a (click)="deleteIdVolunteer(volunteer.id)">
                                            <i class="fa fa-trash action-icon"></i>
                                        </a>
                                    </span>

                                    <span class="mr-2">

                                        <div class="custom-control 
											custom-switch custom-switch-off-danger custom-switch-on-success">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="volunteer.isActive"
                                                (change)="toggleClick(volunteer.id,volunteer.isActive)"
                                                id="cb_{{volunteer.id}}">
                                            <label class="custom-control-label"
                                                [attr.for]="'cb_' + volunteer.id"></label>
                                        </div>
                                    </span>

                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="volunteerList?.length<=0">
                            <tr>
                                <td [attr.colspan]="6" class="text-center">No Results Found</td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>
            <div class="row" *ngIf="volunteerList?.length>0">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <pagination-controls id="volunteer_pages" (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
                        responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
                </div>
            </div>

<!-- <span *ngFor="let volunteer of volunteerList">

    <div class="card card-solid">
        <span *ngFor="let volunteer of volunteerList">
            <div class="card-body pb-0">
                <span *ngFor="let volunteer of volunteerList">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b> Name : {{volunteer.name}}</b></h2>
                                            <p class="text-muted text-sm">Email : {{volunteer.email}}</p>
                                            Email : {{volunteer.email}}
                                            <br>
                                            Gender : {{volunteer.gender}}
                                            <br>
                                            &nbsp;
                                            Age : {{volunteer.age}}
                                            <br>
                                            Area Of Interest : {{volunteer.areaOfInterest}}
                                            <br>
                                            Date Of Joining : {{volunteer.dateOfJoining}}
                                            <br>
                                            Available Time : {{volunteer.availableTime}}
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span>
                                                    {{volunteer.address}}</li>
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-phone"></i></span>
                                                    {{volunteer.contactNumber}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="../../dist/img/user1-128x128.jpg" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm bg-teal">
                                            <i class="fas fa-comments"></i>
                                        </a>
                                        <a href="#" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Profile
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </span>
            </div>
        </span>

    </div>

    
</span>
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
        <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
                Digital Strategist
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>Nicole Pearson</b></h2>
                        <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover
                        </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address:
                                Demo
                                Street 123, Demo City 04312, NJ</li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: +
                                800 -
                                12 12 23 52</li>
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <img src="../../dist/img/user1-128x128.jpg" alt="user-avatar" class="img-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> View Profile
                    </a>
                </div>
            </div>

        </div> -->