
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-md-6 align-self-center">
                        <a href="javascript:void(0);" [routerLink]="['../doner/add']" class="btn btn-primary ms-3 btn-lg "><i
                                class="fa fa-plus"></i> Create Doner</a>
                    </div>

                    <div class="col-md-3 align-self-center">
                        <div class="input-group input-group-lg">
                            <input type="text"  placeholder="Search here..."       [(ngModel)]="fetchDonerListParam.searchStr" (keyup)="getDonerData()" class="form-control">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        </div>
    


                    <div class="col-md-1 align-self-center">
                        <div class="card-tools">
                            <div class="dataTables_length" id="example1_length">
                                <label>Show:</label>
                                <select name="example1_length" aria-controls="example1"
                                    [(ngModel)]="fetchDonerListParam.pageSize"
                                    class="custom-select custom-select-sm form-control form-control-sm"
                                    (change)="getDonerData()">
                                    <option *ngFor="let p of pageLimitOptions" [value]=p>{{p}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover usr-table">
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                            <th>Donation-Date </th>
                            <th>Type</th>
                            <th>Description</th>
                            <th width="15%">Actions</th>
                        </tr>

                        
                    </thead>

                
                    <tbody>
                        <ng-container *ngIf="donerList?.length>0">
                            <tr *ngFor="let doner of donerList | paginate: { id: 'event_pages',
                                                     itemsPerPage: fetchDonerListParam.pageSize,
                                                     currentPage: fetchDonerListParam.currentPage,
                                                     totalItems: totalCount }">
                                <td>{{doner.donerName}}</td>
                                <td>{{doner.contactNumber}}</td>
                                <td>{{doner.donerEmail}}</td>
                                <td>{{doner.dateOfDonation}}</td>
                                <td>{{doner.typeofDonation}}</td>
                                <td>{{doner.reason}}</td>
                                <td>
                                    <span class="mr-2">
                                        <a (click)="editDoner(doner.id)">
                                        <i class="fas fa-edit action-icon"></i></a>
                                    </span>
                                    <span class="mr-2">
                                        <a (click)="deleteDoner(doner.id)">
                                    
                                        <i class="fa fa-trash action-icon"></i>
                                    </a>
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="donerList?.length<=0">
                            <tr>
                                <td [attr.colspan]="6" class="text-center">No Results Found</td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>

            <div class="row" *ngIf="donerList?.length>0">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <pagination-controls id="event_pages" (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
                        responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
                </div>
            </div>

        </div>
    </div>

</div>