<div class="card card-primary">
    <form [formGroup]="employeeForm" #add="ngForm" (ngSubmit)="submit()">
        <div class="card-body">
            <div class="row">

                <div class="form-group col-md-6">
                    <label>Name Of Employee:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="employeeName" placeholder="First Name"
                            formControlName="employeeName" [ngClass]=" {'is-invalid' : employeeForm.controls.employeeName.touched && employeeForm.controls.employeeName.invalid,	'is-valid' : employeeForm.controls.employeeName.touched && employeeForm.controls.employeeName.valid
					}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.employeeName.touched && employeeForm.controls.employeeName.invalid||employeeForm.controls.employeeName.dirty">
                        <!-- <ng-container *ngIf="employeeForm.controls.name.errors?.minlength">Min
                            length is 3</ng-container> -->
                        <!-- <ng-container *ngIf="employeeForm.controls.name.errors?.maxlength">Max
                            length is 50</ng-container> -->

                        <ng-container *ngIf="employeeForm.controls.employeeName.errors?.required">
                            First Name is required</ng-container>
                        <ng-container *ngIf="employeeForm.controls.employeeName.errors?.pattern">Please
                            enter valid name.</ng-container>
                    </span>
                </div>
                <!-- add extra fields -->


                <!-- <div class="form-group col-md-6">
                    <label>Last Name:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" 
                            maxlength="50" formControlName="lastname" [ngClass]=" {'is-invalid' : employeeForm.controls.lastname.touched && employeeForm.controls.lastname.invalid,
						'is-valid' : employeeForm.controls.lastname.touched && employeeForm.controls.lastname.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.lastname.touched && employeeForm.controls.lastname.invalid||employeeForm.controls.lastname.dirty">
                         <ng-container *ngIf="employeeForm.controls.lastname.errors?.minlength">Min
                            length is 3</ng-container> -->
                <!-- <ng-container *ngIf="employeeForm.controls.lastname.errors?.maxlength">Max
                            length is 50</ng-container> -->

                <!-- <ng-container *ngIf="employeeForm.controls.lastname.errors?.required">
                            lastName is required</ng-container>
                            <ng-container *ngIf="employeeForm.controls.lastname.errors?.pattern">Please
                                enter valid lastName.</ng-container>
                    </span> -->
                <!-- </div> -->
                <!-- add extra fields -->
                <div class="form-group col-md-6">
                    <label>Email Address:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="contactEmployyeEmail" placeholder="abc@gmail.com"
                            formControlName="contactEmployyeEmail" [ngClass]=" {'is-invalid' : employeeForm.controls.contactEmployyeEmail.touched && employeeForm.controls.contactEmployyeEmail.invalid,						'is-valid' : employeeForm.controls.contactEmployyeEmail.touched && employeeForm.controls.contactEmployyeEmail.valid
					}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.contactEmployyeEmail.touched && employeeForm.controls.contactEmployyeEmail.invalid || employeeForm.controls.contactEmployyeEmail.dirty">

                        <ng-container *ngIf="employeeForm.controls.contactEmployyeEmail.errors?.required">
                            Email is required</ng-container>

                        <ng-container *ngIf="employeeForm.controls.contactEmployyeEmail.errors?.pattern">
                            Enter valid email</ng-container>
                    </span>
                </div>

                <!-- add extra fields -->
                <div class="form-group col-md-6">
                    <label>Contact Number:</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" name="contactNumber" placeholder="Contact Number"
                            maxlength="10" formControlName="contactNumber"
                            [ngClass]=" {'is-invalid' : employeeForm.controls.contactNumber.touched && employeeForm.controls.contactNumber.invalid,
                    'is-valid' : employeeForm.controls.contactNumber.touched && employeeForm.controls.contactNumber.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.contactNumber.touched && employeeForm.controls.contactNumber.invalid || employeeForm.controls.contactNumber.dirty">

                        <ng-container *ngIf="employeeForm.controls.contactNumber.errors?.required">
                            Contact Number is required</ng-container>
                        <ng-container *ngIf="employeeForm.controls.contactNumber.errors?.whitespace">Please
                            enter valid aadharNumber.</ng-container>
                        <ng-container *ngIf="employeeForm.controls.contactNumber.errors?.pattern">Please
                            enter valid Contact Number.</ng-container>
                        <ng-container *ngIf="employeeForm.controls.contactNumber.errors?.maxlength">Max
                            length is 10</ng-container>
                    </span>
                </div>




                <!-- add extra fields -->


                <!-- add extra fields -->
                <div class="form-group col-md-6">
                    <label>AadharNumber:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="aadharcardNo" placeholder="AadharNumber"
                            maxlength="12" formControlName="aadharcardNo"
                            [ngClass]=" {'is-invalid' : employeeForm.controls.aadharcardNo.touched && employeeForm.controls.aadharcardNo.invalid,
                    'is-valid' : employeeForm.controls.aadharcardNo.touched && employeeForm.controls.aadharcardNo.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.aadharcardNo.touched && employeeForm.controls.aadharcardNo.invalid || employeeForm.controls.aadharcardNo.dirty">
                        <!-- <ng-container *ngIf="employeeForm.controls.aadharNumber.errors?.minlength">Min
                        length is 3</ng-container>  -->
                        <ng-container *ngIf="employeeForm.controls.aadharcardNo.errors?.maxlength">Max
                            length is 14</ng-container>
                        <ng-container *ngIf="employeeForm.controls.aadharcardNo.errors?.whitespace">Please
                            Enter valid Aadhar Card Number.</ng-container>
                        <ng-container *ngIf="employeeForm.controls.aadharcardNo.errors?.required">
                            aadharNumber is required</ng-container>


                        <ng-container *ngIf="employeeForm.controls.aadharcardNo.errors?.pattern">
                            valid aadhar card Number</ng-container>
                    </span>

                </div>
                <div class="form-group col-md-6">
                    <label>Address:</label>
                    <div class="input-group">
                        <textarea rows="3" cols="5" class="form-control" name="address" placeholder="Address"
                            minlength="3" maxlength="50" formControlName="address"
                            [ngClass]=" {'is-invalid' : employeeForm.controls.address.touched && employeeForm.controls.address.invalid,
                    'is-valid' : employeeForm.controls.address.touched && employeeForm.controls.address.valid}"></textarea>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.address.touched && employeeForm.controls.address.invalid">
                        <ng-container *ngIf="employeeForm.controls.address.errors?.minlength">Min
                            length is 3</ng-container>
                        <ng-container *ngIf="employeeForm.controls.address.errors?.maxlength">Max
                            length is 50</ng-container>
                        <ng-container *ngIf="employeeForm.controls.address.errors?.whitespace">Please
                            enter valid Address.</ng-container>
                        <ng-container *ngIf="employeeForm.controls.address.errors?.required">
                            Address is required</ng-container>
                    </span>
                </div>



                <!-- add extra fields -->




                <!-- add extra fields -->
                <div class="form-group col-md-6">
                    <label>Role of Employee</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="roleOfEmployee" placeholder="Role of Employee"
                            minlength="3" maxlength="50" formControlName="roleOfEmployee"
                            [ngClass]=" {'is-invalid' : employeeForm.controls.roleOfEmployee.touched && employeeForm.controls.roleOfEmployee.invalid,
                    'is-valid' : employeeForm.controls.roleOfEmployee.touched && employeeForm.controls.roleOfEmployee.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.roleOfEmployee.touched && employeeForm.controls.roleOfEmployee.invalid">
                        <ng-container *ngIf="employeeForm.controls.roleOfEmployee.errors?.minlength">Min
                            length is 3</ng-container>
                        <ng-container *ngIf="employeeForm.controls.roleOfEmployee.errors?.maxlength">Max
                            length is 50</ng-container>
                        <ng-container *ngIf="employeeForm.controls.roleOfEmployee.errors?.whitespace">Please
                            enter valid Role Of Employee</ng-container>
                        <ng-container *ngIf="employeeForm.controls.roleOfEmployee.errors?.required">
                            Role Of Employee is required</ng-container>
                    </span>
                    <!-- </div>  -->
                    <!-- <div class="form-group col-md-6"> -->
                    <br>
                    <label>Gender</label>&nbsp;&nbsp;&nbsp;

                    <!-- <div class="input-group"> -->
                    <input type="radio" name="gender" value="male" formControlName="gender" [ngClass]=" {'is-invalid' : employeeForm.controls.gender.touched && employeeForm.controls.gender.invalid,
        'is-valid' : employeeForm.controls.gender.touched && employeeForm.controls.gender.valid}">Male

                    <input type="radio" name="gender" value="female" formControlName="gender">Female


                    <!-- </div> -->
                    <span class="help-block"
                        *ngIf="employeeForm.controls.gender.touched && employeeForm.controls.gender.invalid">
                        <ng-container *ngIf="employeeForm.controls.gender.errors?.required">
                            Gender is required</ng-container>
                    </span>
                </div>


                <div class="form-group col-md-6">
                    <label>Age</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="age" placeholder="Age" minlength="3"
                            maxlength="50" formControlName="age" [ngClass]=" {'is-invalid' : employeeForm.controls.age.touched && employeeForm.controls.age.invalid,
                    'is-valid' : employeeForm.controls.age.touched && employeeForm.controls.age.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.age.touched && employeeForm.controls.age.invalid">
                        <ng-container *ngIf="employeeForm.controls.age.errors?.minlength">Min
                            length is 3</ng-container>
                        <ng-container *ngIf="employeeForm.controls.age.errors?.maxlength">Max
                            length is 50</ng-container>
                        <ng-container *ngIf="employeeForm.controls.age.errors?.whitespace">Please
                            enter valid Email Address.</ng-container>
                        <ng-container *ngIf="employeeForm.controls.age.errors?.required">
                            Age is required</ng-container>
                    </span>
                </div>


                <div class="form-group col-md-6">
                    <label>Date of join</label>

                    <input type="date" name="date" class="form-control" formControlName="joiningDate"
                        [ngClass]=" {'is-invalid' : employeeForm.controls.joiningDate.touched && employeeForm.controls.joiningDate.invalid,
                    'is-valid' : employeeForm.controls.joiningDate.touched && employeeForm.controls.joiningDate.valid}">


                    <span class="help-block"
                        *ngIf="employeeForm.controls.joiningDate.touched && employeeForm.controls.joiningDate.invalid">

                        <ng-container *ngIf="employeeForm.controls.joiningDate.errors?.required">
                            Date is required</ng-container>

                    </span>

                </div>

                <div class="form-group col-md-6">
                    <label>Salary</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="salary" placeholder="Salary" maxlength="50"
                            formControlName="salary" [ngClass]=" {'is-invalid' : employeeForm.controls.salary.touched && employeeForm.controls.salary.invalid,
                    'is-valid' : employeeForm.controls.salary.touched && employeeForm.controls.salary.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.salary.touched && employeeForm.controls.salary.invalid || employeeForm.controls.salary.dirty">
                        <!-- <ng-container *ngIf="employeeForm.controls.salary.errors?.minlength">Min
                        length is 3</ng-container> -->
                        <ng-container *ngIf="employeeForm.controls.salary.errors?.maxlength">Max
                            length is 50</ng-container>
                        <ng-container *ngIf="employeeForm.controls.salary.errors?.whitespace">Please
                            enter valid Salary.</ng-container>
                        <ng-container *ngIf="employeeForm.controls.salary.errors?.required">
                            Salary is required</ng-container>
                        <ng-container *ngIf="employeeForm.controls.salary.errors?.pattern">
                            enter valid salary</ng-container>
                    </span>
                </div>



                <div class="form-group col-md-6">
                    <label>Timing Of Employee</label>
                    <div class="input-group">
                        <input type="time" class="form-control" name="employeeTiming" placeholder="time"
                            formControlName="employeeTiming"
                            [ngClass]=" {'is-invalid' : employeeForm.controls.employeeTiming.touched && employeeForm.controls.employeeTiming.invalid,
                    'is-valid' : employeeForm.controls.employeeTiming.touched && employeeForm.controls.employeeTiming.valid}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span class="help-block"
                        *ngIf="employeeForm.controls.employeeTiming.touched && employeeForm.controls.employeeTiming.invalid">
                        <!-- <ng-container *ngIf="employeeForm.controls.time.errors?.minlength">Min
                        length is 3</ng-container>
                    <ng-container *ngIf="employeeForm.controls.time.errors?.maxlength">Max
                        length is 50</ng-container> -->
                        <!-- <ng-container *ngIf="employeeForm.controls.time.errors?.whitespace">Please
                        enter valid time.</ng-container> -->
                        <ng-container *ngIf="employeeForm.controls.employeeTiming.errors?.required">
                            time is required</ng-container>
                    </span>
                </div>















            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary mr-2">
                        <span>Add Employee</span>
                    </button>
                    <a [routerLinkActive]="['active']" routerLink="/event" class="btn btn-default ">
                        Cancel</a>
                </div>
            </div>

        </div>
    </form>
</div>