<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a [routerLink]="['dashboard']" class="brand-link">
      <img src="../../../../assets/images/Capture.JPG"  class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light" style="font-family: Bahnschrift SemiBold ; ">NGO ADMIN SYSTEM</span>
    </a>

    <!-- Palatino
    Bahnschrift SemiBold
Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

    -->
  
    <div class="sidebar">
  
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li [routerLinkActive]="['active']" class="nav-item has-treeview">
            <a [routerLink]="['/']" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> 
      
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item has-treeview">

            <a [routerLink]="['/doner']" class="nav-link" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              
              &nbsp;<i class="far fa-id-badge" ></i>
             
              &nbsp;
              <p> 
              Manage Doner
            </p>
          </a>
        </li>
          <li [routerLinkActive]="['active']" class="nav-item has-treeview">
            <a [routerLink]="['/event']" class="nav-link" [routerLinkActive]="['active']">
             
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Manage Event
              </p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item has-treeview">
            <a [routerLink]="['/employee']" class="nav-link" [routerLinkActive]="['active']">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Manage Employee
              </p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item has-treeview">
            <a [routerLink]="['/volunteer']" class="nav-link" [routerLinkActive]="['active']">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Manage Volunteer
              </p>
            </a>
            </li>
             <!-- <li [routerLinkActive]="['active']" class="nav-item has-treeview">
              <a [routerLink]="['/servicetype']" class="nav-link" [routerLinkActive]="['active']">
                <i class="nav-icon fa fa-users"></i>
                <p>
                  Manage Service Type
                </p>
              </a>
              </li>  -->

              <li [routerLinkActive]="['active']" class="nav-item has-treeview">
                <a [routerLink]="['/role']" class="nav-link" [routerLinkActive]="['active']">
                  <i class="nav-icon fa fa-users"></i>
                  <p>
                    Manage Role
                  </p>
                </a>
                </li>
          
        </ul>
      </nav>
    </div>
  </aside>