<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a [routerLink]="['dashboard']" class="brand-link">
      <!-- <img src="../../../../assets/images/webs_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8"> -->
      <span class="brand-text font-weight-light">NGO</span>
    </a>
  
    <div class="sidebar">
  
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li [routerLinkActive]="['active']" class="nav-item has-treeview">
            <a [routerLink]="['/']" class="nav-link" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item has-treeview">
            <a [routerLink]="['/event']" class="nav-link" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                Manage Event
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview"
            >
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['../role']">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Manage Employee
              </p>
            </a>
          </li>

          <li [routerLinkActive]="['active']" class="nav-item has-treeview">
            <a [routerLink]="['/volunteer']" class="nav-link" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Manage Volunteer
              </p>
            </a>

          <!-- <li [routerLinkActive]="['active']" class="nav-item has-treeview" >
            <a [routerLink]="['../settings']" class="nav-link" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              <i class="nav-icon fa fa-cogs mr-2"></i>
              <p>
                System Settings
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item" >
                  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
                      [routerLink]="['../settings/uspsDetails']" class="nav-link">
                    <i class="fas fa-map-marker-alt nav-icon"></i>
                    <p>USPS Details</p>
                  </a>
                </li>
                <li class="nav-item" >
                  <a [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}"
                      [routerLink]="['../settings/blockDomain']" class="nav-link">
                    <i class="fa fa-ban nav-icon"></i>
                    <p>Block Domain</p>
                  </a>
                </li>
              </ul>
          </li> -->
        </ul>
      </nav>
    </div>
  </aside>