<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-md-8 align-self-center">
                        <a href="javascript:void(0);" [routerLink]="['../employee/add']"
                            class="btn btn-dark ms-3"><b><i class="fa fa-user-plus"></i> Add Employee</b></a>
                    </div>


                    <div class="col-md-3 align-self-center">
                        <div class="input-group input-group-lg">
                            <input type="text" placeholder="Search here..."
                                [(ngModel)]="fetchEmployeeListParam.searchStr" (keyup)="getEmployeeData()"
                                class="form-control">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-1 align-self-center">
                        <div class="card-tools">
                            <div class="dataTables_length" id="example1_length">
                                <label>Show:</label>
                                <select name="example1_length" aria-controls="example1"
                                    [(ngModel)]="fetchEmployeeListParam.pageSize"
                                    class="custom-select custom-select-sm form-control form-control-sm"
                                    (change)="getEmployeeData()">
                                    <option *ngFor="let p of pageLimitOptions" [value]=p>{{p}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover usr-table">
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>AadharCard Number</th>
                            <th>Adress</th>
                            <th>Employee's Role</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Joining Date</th>
                            <th>Salary</th>
                            <th>Employee's Timing</th>
                            <th width="15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="employeeList?.length>0">
                            <tr *ngFor="let employee of employeeList | paginate: { id: 'employee_pages',
                                                     itemsPerPage: fetchEmployeeListParam.pageSize,
                                                     currentPage: fetchEmployeeListParam.currentPage,
                                                     totalItems: totalCount }">
                                <td>{{employee.employeeName}}</td>
                                <td>{{employee.contactEmployyeEmail}}</td>
                                <td>{{employee.contactNumber}}</td>
                                <td>{{employee.aadharcardNo}}</td>
                                <td>{{employee.address}}</td>

                                <td>{{employee.roleOfEmployee}}</td>
                                <td>{{employee.gender}}</td>
                                <td>{{employee.age}}</td>
                                <td>{{employee.joiningDate}}</td>
                                <td>{{employee.salary}}</td>

                                <td>{{employee.employeeTiming}}</td>
                                <td>
                                    <span class="mr-2">
                                        <a (click)="editEmployee(employee.id)">
                                            <i class="fas fa-edit action-icon">

                                            </i></a>
                                    </span>
                                    <span class="mr-2">
                                        <a (click)="deleteIdEmployee(employee.id)">
                                            <i class="fa fa-trash action-icon"></i>
                                        </a>
                                    </span>
                                    <span class="mr-2">
                                        <!-- <span (click)="toggleClick(employee.id,employee.isActive)">
											<i *ngIf="!employee.isActive" class="fas fa-toggle-on"></i>
											<i *ngIf="employee.isActive" class="fas fa-toggle-off"></i>
										</span> -->
                                        <div class="custom-control 
											custom-switch custom-switch-off-danger custom-switch-on-success">
											<input type="checkbox" class="custom-control-input" [checked]="employee.isActive"
												(change)="toggleClick(employee.id,employee.isActive)"
												 id="cb_{{employee.id}}">
											<label class="custom-control-label"	[attr.for]="'cb_' + employee.id"
											></label>
										</div>
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="employeeList?.length<=0">
                            <tr>
                                <td [attr.colspan]="6" class="text-center">No Results Found</td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>

            
            <div class="row" *ngIf="employeeList?.length>0">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <pagination-controls id="employee_pages" (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
                        responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
                </div>
            </div>

        </div>
    </div>

</div>